* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.background {
  background-image: linear-gradient(to bottom, violet, rgb(86, 4, 145));
  border-radius: 0 0 50% 50%;
  grid-column: 1/1;
  grid-row: 1/1;
  height: 950px;
  width: 800px;
  position: absolute;
  right: 10px;
}

.background-2 {
  background-color: rgb(231, 229, 229, 0.3);
  border-radius: 50% 50% 0 0;
  grid-column: 3/4;
  height: 950px;
  width: 800px;
  position: absolute;
  right: -100px;
}

header {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  align-self: end;
  position: absolute;
  right: -140px;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(45, 7, 80);
}

header p {
  margin-top: 20px;
  width: 420px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

.phone-screen {
  background-color: rgb(236, 231, 231);
  width: 300px;
  height: 650px;
  border-radius: 25px;
  border: 10px solid #fff;
  justify-self: end;
  margin-top: 100px;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 100;
}

.notch {
  width: 120px;
  height: 20px;
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
}

.phone-screen-person-profile {
  padding: 10px;
  background-image: linear-gradient(to right, violet, rgb(86, 4, 145));
  height: 60px;
  border-radius: 10px;
  padding-left: 30px;
  position: relative;
}
.menu-container {
  align-self: center;
}

.menu-container::after {
  content: "\2807";
  font-size: 15px;
  color: #fff;
}

.first-dot,
.second-dot,
.third-dot {
  font-size: 20px;
  color: antiquewhite;
}

.phone-screen-person-arrow {
  border: solid #fff;
  border-width: 2px 2px 0px 0;
  width: 1px;
  height: 1px;
  padding: 3px;
  transform: rotate(-135deg);
  z-index: 140;
  position: absolute;
  left: 15px;
}

.phone-screen-person-image {
  width: 25px;
  height: 25px;
  border: 2px solid antiquewhite;
  border-radius: 50%;
}

.phone-screen-person-data {
  display: inline-block;
}

.phone-screen-person-name {
  font-size: 15px;
  margin-bottom: 2px;
  color: antiquewhite;
}

.phone-screen-person-status {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}

.phone-screen-messages-size {
  font-size: 10px;
}

.phone-screen-sender-messages {
  background-color: hsl(267, 20%, 81%);
  color: hsl(276, 55%, 52%);
  width: 50%;
  padding: 10px;
  border-radius: 15px 15px 15px 5px;
  align-self: center;
}

.phone-screen-receiver-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.phone-screen-reciever-p1 {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px 15px 5px 15px;
}

.phone-screen-reciever-p2 {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px 15px 5px 15px;
  display: inline-block;
}

.phone-screen-sender-offer1-container,
.phone-screen-sender-offer2-container {
  width: 70%;
  background-image: linear-gradient(to right, violet, rgb(86, 4, 145));
  padding: 5px;
  border-radius: 15px 15px 15px 5px;
  color: antiquewhite;
}

.phone-screen-sender-offer1-container::before,
.phone-screen-sender-offer2-container::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.phone-screen-offer1-money {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.phone-screen-offer2-money {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.phone-screen-sendmessage-container {
  background-color: #fff;
  border-radius: 25px;
}

.phone-screen-sendmessage-placeholder {
  font-size: 12px;
  color: hsl(206, 6%, 79%);
  margin-left: 15px;
}

.phone-screen-sendmessage-arrow {
  border: solid #fff;
  border-width: 2px 2px 0px 0;
  width: 1px;
  height: 1px;
  padding: 3px;
  transform: rotate(45deg);
  z-index: 140;
  position: absolute;
  right: 12px;
}

/* Flexbox */

.phone-screen {
  display: grid;
  grid-template-rows: 1fr 7fr;
}

.phone-screen-person-profile {
  align-items: center;
  justify-items: center;
  gap: 5px;
  display: flex;
  grid-row: 1/1;
  grid-column: 1/1;
}

.phone-screen-person-profiledata {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.phone-screen-chat {
  display: grid;
  gap: 15px;
  margin: 10px 10px;
}

.notch {
  justify-self: center;
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 100;
}

.phone-screen-sender-messages {
  box-sizing: border-box;
}

.phone-screen-receiver-img-container {
  justify-self: end;
}

.phone-screen-messages-size {
  width: 50%;
  height: auto;
}
.phone-screen-reciever-p1,
.phone-screen-reciever-p2 {
  justify-self: end;
}
.phone-screen-sender-offer1-container,
.phone-screen-sender-offer2-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.phone-screen-offer1-paragraph,
.phone-screen-offer2-paragraph {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.phone-screen-sendmessage-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-screen-sendmessage-circle {
  width: 30px;
  height: 30px;
  background-color: rgb(45, 7, 80);
  border-radius: 25px;
  justify-self: end;
  gap: 10px;
}

.phone-screen-sendmessage-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.attribution {
  display: flex;
  justify-self: center;
  margin-top: 10px;
}
